<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051797897582-q4bbek3p8ot918fepkgema3mv9s46302.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051797897582-q4bbek3p8ot918fepkgema3mv9s46302</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1051797897582-3vc677lib4v2pmohoiae01aqm3drcin8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE0DQlqGNHkWUqgLmY4qYIdyqYJlpKve4</string>
	<key>GCM_SENDER_ID</key>
	<string>1051797897582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freshordering.userapp</string>
	<key>PROJECT_ID</key>
	<string>freshordering-ac3f9</string>
	<key>STORAGE_BUCKET</key>
	<string>freshordering-ac3f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051797897582:ios:8e2b287252d266e7ef017f</string>
</dict>
</plist>